label {
  width: 100px;
  display: inline-block;
  font-size: 20px;
}

h1 {
  color: orange;
  text-align: right;
  margin-right: 300px;
}

.field_style {
  margin-bottom: 13px;
}

.submit {
  width: 100px;
  font-size: 20px;
}

input {
  font-size: 15px;
}

textarea {
  font-size: 15px;
}

.comment {
  width: 1300px;
  height: 400px;
}

.description {
  display: flex;
}
.content {
  margin-top: 200px;
}
