label {
  width: 100px;
  display: inline-block;
  font-size: 20px;
}

.field_style {
  margin-bottom: 13px;
}

.submit {
  width: 100px;
  font-size: 20px;
}

input {
  font-size: 15px;
}

textarea {
  font-size: 15px;
}
